* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
    
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #5123e7;
    padding: 3px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #000000;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(53, 21, 184, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  
@media (max-width:500px) {
    .himage{
        display: none;
    }
    .mainhead{
        font-size: 40px;
        text-align: center;
    }
    .hello{
        font-size: 35px;
        text-align: left;
    }
    .cv{
      margin-top: 3px;
    }
    .nav {
      height: 50px;
      width: 100%;
      background-color: #000000;
      position: relative;
}
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #b4aeae;
  padding: 12px 12px 12px 12px;
} 
}
.header{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size:x-large;
}
font{
color: #5123e7;
}
.exbox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.inbox{
    width:350px;
    height: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 767px){
    .exbox{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }  
}
.icon{
  padding: 8px;
}
.academic_head{
  text-align: center;
  margin-top: 2px;
}
.academic_sub{
  text-align: center;
  margin-top: -8px;
}
h4{
  margin: 0%;
}
h6{
  text-align: center;
  margin-top: -15px;
}
.green{
  color: rgb(0, 248, 74);
}
.orange{
  color: orange;
}
.academic_sub3{
  text-align: center;
  margin-top: -12px;
}
.certificate{
  background-image: linear-gradient(to right, #5123e7, rgb(174, 140, 227));
  color:#eee;
  position: relative;
  margin-top: -190px;
  border: none;
  height: 20px;
  border-radius: 5px;
}