* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
    background-image: url('bg2.png');
    background-size: 800px;
    background-repeat: no-repeat;
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #5123e7;
    padding: 3px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #000000;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(53, 21, 184, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  
@media (max-width:500px) {
    .himage{
        display: none;
    }
    .mainhead{
        font-size: 40px;
        text-align: center;
    }
    .hello{
        font-size: 35px;
        text-align: left;
    }
    .cv{
      margin-top: 3px;
    }
    .nav {
      height: 50px;
      width: 100%;
      background-color: #000000;
      position: relative;
}
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #b4aeae;
  padding: 12px 12px 12px 12px;
} 
}
.br{
  display: none;
}
.textbox1{
  width:60%;
  height:500px;
  padding: 88px;
}
.imagebox1{
  width:40%;
  height:500px;
}
.aboutheader{
  font-size:30px;
}
.container1 {
  display: flex;
  flex-direction: row;
}

.textbox1 {
  width: 60%;
  height: 500px;
  padding: 88px;
}

.imagebox1 {
  width: 40%;
  height: 500px;
}

.aboutheader {
  font-size: 30px;
}

@media only screen and (max-width: 767px) {
  .container1 {
    flex-direction: column;
  }

  .textbox1,
  .imagebox1 {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .aboutheader {
    font-size: 24px; 
  }
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.textbox {
  width: 60%;
  height: 500px;
  justify-content: center;
  padding: 88px;
}

.imgbox {
  width: 40%;
  height: 500px;
}

h1 {
  margin: 0%;
}

.hello {
  font-size: 50px;
}

.mainhead {
  font-size: 60px;
  text-align: left;
}

.hire_me {
  background-image: linear-gradient(to right, #5123e7, rgb(174, 140, 227));
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: 700;
}

.cv {
  border-style: solid;
  border-color: #5123e7;
  background-color: white;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  color: #000000;
  font-weight: 700;
}
@media only screen and (max-width: 767px) {
  .container {
      flex-direction: column;
      align-items: stretch;
  }

  .textbox {
      width: 100%;
      height: auto;
      padding: 50px;
  }

  .imgbox {
      width: 100%;
      height: auto;
  }
}
p{
  color: #4f4f4f;
}
.footer{
  background-color: #333;
}
.footersub{
  text-align: center;
  color:#eee;
  font-weight: 100;
}
